- Import Table, Column, String, Integer, Float, Boolean from sqlalchemy.
- Build a new table called data with columns 'name' (String(255)), 'count' (Integer()), 'amount'(Float()), and 'valid' (Boolean()) columns. The second argument of Table() needs to be metadata, which has already been initialized.
- Create the table in the database by passing engine to metadata.create_all().

In [4]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean, MetaData, create_engine
metadata = MetaData()
engine = create_engine("sqlite:///new.sqlite")

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table details
print(repr(data))

Table('data', MetaData(), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>), schema=None)

- Table, Column, String, Integer, Float, Boolean are already imported from sqlalchemy.
- Build a new table called data with a unique name (String), count (Integer) defaulted to 1, amount (Float), and valid (Boolean) defaulted to False.
- Hit 'Submit Answer' to create the table in the database and to print the table details for data

In [9]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data1', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print the table details
print(repr(metadata.tables['data']))

Table('data', MetaData(), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>), schema=None)

- Import insert and select from the sqlalchemy module.
- Build an insert statement insert_stmt for the data table to set name to 'Anna', count to 1, amount to 1000.00, and valid to True.
- Execute insert_stmt with the connection and store the results.
- Print the .rowcount attribute of results to see how many records were inserted.
- Build a select statement to query data for the record with the name of 'Anna'.
- Hit 'Run Solution' to print the results of executing the select statement.

In [11]:
# Create a connection on engine
connection = engine.connect()

# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: insert_stmt
insert_stmt = insert(data).values(name='Anna', count =1, amount = 1000.00, valid = True)

# Execute the insert statement via the connection: results
results = connection.execute(insert_stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert: select_stmt
select_stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(connection.execute(select_stmt).first())

1
('Anna', 1, 1000.0, True)

- Build a list of dictionaries called values_list with two dictionaries. In the first dictionary set name to 'Anna', count to 1, amount to 1000.00, and valid to True. In the second dictionary of the list, set name to 'Taylor', count to 1, amount to 750.00, and valid to False.
- Build an insert statement for the data table for a multiple insert, save it as stmt.
- Execute stmt with the values_list via connection and store the results. Make sure values_list is the second argument to .execute().
- Print the rowcount of the results.

In [13]:
# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna2', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data)

# Execute stmt with the values_list: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

2

- Use pd.read_csv() to load the "census.csv" file into a DataFrame. Set the header parameter to None since the file doesn't have a header row.
- Rename the columns of census_df to "state", "sex", age, "pop2000", and "pop2008" to match the columns of the "census" table in the database.
- Use the .to_sql() method on census_df to append the data to the "census" table in the database using the connection.
- Since "census" already exists in the database, you will need to specify an appropriate value for the if_exists parameter.

In [14]:
# import pandas
import pandas as pd

# read census.csv into a DataFrame : census_df
census_df = pd.read_csv("census.csv", header=None)

# rename the columns of the census DataFrame
census_df.columns = ['state', 'sex', 'age', 'pop2000', 'pop2008']

# append the data from census_df to the "census" table via connection
census_df.to_sql(name="census", con=connection, if_exists="append", index=False)

- Build a statement to select all columns from the state_fact table where the value in the name column is 'New York'. Call it select_stmt.
- Fetch all the results and assign them to results.
- Print the results and the fips_state column of the first row of the results.

In [15]:
# # Build a select statement: select_stmt
# select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# # Execute select_stmt and fetch the results
# results = connection.execute(select_stmt).fetchall()

# # Print the results of executing the select_stmt
# print(results)

# # Print the FIPS code for the first row of the result
# print(results[0]['fips_state'])

- Notice that there is only one record in state_fact for the state of New York. It currently has the FIPS code of 0.
- Build an update statement to change the fips_state column code to 36, save it as update_stmt.
- Use a where clause to filter for states with the name of 'New York' in the state_fact table.
- Execute update_stmt via the connection and save the output as update_results.

In [16]:
# select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')
# results = connection.execute(select_stmt).fetchall()
# print(results)
# print(results[0]['fips_state'])

# # Build a statement to update the fips_state to 36: update_stmt
# update_stmt = update(state_fact).values(fips_state = 36)

# # Append a where clause to limit it to records for New York state
# update_stmt = update_stmt.where(state_fact.columns.name == 'New York')

# # Execute the statement: update_results
# update_results = connection.execute(update_stmt)

- Now you will confirm that the record for New York was updated by selecting all the records for New York from state_fact and repeating what you did in Step 1.
- Execute select_stmt again, fetch all the results, and assign them to new_results. Print the new_results and the fips_state column of the first row of the new_results.

In [17]:
# select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')
# results = connection.execute(select_stmt).fetchall()
# print(results)
# print(results[0]['fips_state'])

# update_stmt = update(state_fact).values(fips_state = 36)
# update_stmt = update_stmt.where(state_fact.columns.name == 'New York')
# update_results = connection.execute(update_stmt)

# # Execute select_stmt again and fetch the new results
# new_results = connection.execute(select_stmt).fetchall()

# # Print the new_results
# print(new_results)

# # Print the FIPS code for the first row of the new_results
# print(new_results[0]['fips_state'])

- Build an update statement to update the notes column in the state_fact table to 'The Wild West'. Save it as stmt.
- Use a where clause to filter for records that have 'West' in the census_region_name column of the state_fact table.
- Execute stmt_west via the connection and save the output as results.
- Hit 'Run Solution' to print rowcount of the results.

In [18]:
# # Build a statement to update the notes to 'The Wild West': stmt
# stmt = update(state_fact).values(notes='The Wild West')

# # Append a where clause to match the West census region records: stmt_west
# stmt_west = stmt.where(state_fact.columns.census_region_name == 'West')

# # Execute the statement: results
# results = connection.execute(stmt_west)

# # Print rowcount
# print(results.rowcount)

- Build a statement to select the name column from state_fact. Save the statement as fips_stmt.
- Append a where clause to fips_stmt that matches fips_state from the state_fact table with fips_code in the flat_census table.
- Build an update statement to set the state_name in flat_census to fips_stmt. Save the statement as update_stmt.
- Hit 'Submit Answer' to execute update_stmt, store the results and print the rowcount of results.

In [19]:
# # Build a statement to select name from state_fact: fips_stmt
# fips_stmt = select([state_fact.columns.name])

# # Append a where clause to match the fips_state to flat_census fips_code: fips_stmt
# fips_stmt = fips_stmt.where(
#     state_fact.columns.fips_state == flat_census.columns.fips_code)

# # Build an update statement to set the name to fips_stmt_where: update_stmt
# update_stmt = update(flat_census).values(state_name=fips_stmt)

# # Execute update_stmt: results
# results = connection.execute(update_stmt)

# # Print rowcount
# print(results.rowcount)

- Import delete and select from sqlalchemy.
- Build a delete statement to remove all the data from the census table. Save it as delete_stmt.
- Execute delete_stmt via the connection and save the results.
- Hit 'Submit Answer' to select all remaining rows from the census table and print the result to confirm that the table is now empty!

In [21]:
# Import create_engine, MetaData, and Table
from sqlalchemy import create_engine, MetaData, Table,select

# Create engine: engine
engine = create_engine('sqlite:///census.sqlite')

# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Create a connection on engine
connection = engine.connect()

# Import delete, select
from sqlalchemy import delete , select

# Build a statement to empty the census table: stmt
delete_stmt = delete(census)

# Execute the statement: results
results = connection.execute(delete_stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table : select_stmt
select_stmt = select([census])

# Print the results of executing the statement to verify there are no rows
print(connection.execute(select_stmt).fetchall())

0
[]

- Build a delete statement to remove data from the census table. Save it as delete_stmt.
- Append a where clause to delete_stmt that contains an and_ to filter for rows which have 'M' in the sex column AND 36 in the age column.
- Execute the delete statement.
- Hit 'Submit Answer' to print the rowcount of the results, as well as to_delete, which returns the number of rows that should be deleted. These should match and this is an important sanity check!

In [24]:
from sqlalchemy import func, and_
# Build a statement to count records using the sex column for Men ('M') age 36: count_stmt
count_stmt = select([func.count(census.columns.sex)]).where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(count_stmt).scalar()

# Build a statement to delete records from the census table: delete_stmt
delete_stmt = delete(census)

# Append a where clause to target Men ('M') age 36: delete_stmt
delete_stmt = delete_stmt.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(delete_stmt)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)

0 0

- Drop the state_fact table by applying the method .drop() to it and passing it the argument engine (in fact, engine will be the sole argument for every function/method in this exercise!)
- Check to see if state_fact exists via print. Use the .exists() method with engine as the argument.
- Drop all the tables via the metadata using the .drop_all() method.
- Use a print statement to check if the census table exists.

In [26]:
# # Drop the state_fact table
# state_fact.drop(engine)

# # Check to see if state_fact exists
# print(state_fact.exists(engine))

# # Drop all tables
# metadata.drop_all(engine)

# # Check to see if census exists
# print(census.exists(engine))