- Explore the Above/Below 50k variable by printing out a description of the variable's contents.
- Explore the Above/Below 50k variable by printing out a frequency table of the values found in this column.
- Rerun .value_counts(), but this time print out the relative frequency values instead of the counts.

In [2]:
import pandas as pd
adult = pd.read_csv("adult.csv")

# Explore the Above/Below 50k variable
print(adult["Above/Below 50k"].describe())

# Print a frequency table of "Above/Below 50k"
print(adult["Above/Below 50k"].value_counts())

# Print relative frequency values
print(adult["Above/Below 50k"].value_counts(normalize = True))

count      32561
unique         2
top        <=50K
freq       24720
Name: Above/Below 50k, dtype: object
 <=50K    24720
 >50K      7841
Name: Above/Below 50k, dtype: int64
 <=50K    0.75919
 >50K     0.24081
Name: Above/Below 50k, dtype: float64

- Create a pandas Series, series1, using the list_of_occupations (do not set the dtype).
- Print both the data type and number of bytes used of this new Series.
- Create a second pandas Series, series2, using the list_of_occupations and set the dtype to "category".
- Print both the data type and number of bytes used of this new Series.

In [3]:
# # Create a Series, default dtype
# series1 = pd.Series(list_of_occupations)

# # Print out the data type and number of bytes for series1
# print("series1 data type:", series1.dtype)
# print("series1 number of bytes:", series1.nbytes)

# # Create a Series, "category" dtype
# series2 = pd.Series(list_of_occupations, dtype="category")

# # Print out the data type and number of bytes for series2
# print("series2 data type:", series2.dtype)
# print("series2 number of bytes:", series2.nbytes)

- Create a categorical pandas Series without using pd.Series().
- Specify the three known medal categories such that "Bronze" < "Silver" < "Gold".
- Specify that the order of the categories is important when creating this Series.

In [4]:
# # Create a categorical Series and specify the categories (let pandas know the order matters!)
# medals = pd.Categorical(medals_won, categories = ["Bronze" ,"Silver" , "Gold"], ordered = True)
# print(medals)

- Call the correct attribute on the adult DataFrame to review the data types.
- Create a dictionary with keys: "Workclass", "Education", "Relationship", and "Above/Below 50k".
- Set the value for each key to be "category".
- Use the newly created dictionary, adult_dtypes, when reading in adult.csv

In [5]:
# Check the dtypes
print(adult.dtypes)

# Create a dictionary with column names as keys and "category" as values
adult_dtypes = {
   "Workclass": "category",
   "Education": "category",
   "Relationship": "category",
   "Above/Below 50k": "category" 
}

# Read in the CSV using the dtypes parameter
adult2 = pd.read_csv(
  "adult.csv",
  dtype = adult_dtypes
)
print(adult2.dtypes)

Age                 int64
Workclass          object
fnlgwt              int64
Education          object
Education Num       int64
Marital Status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital Gain        int64
Capital Loss        int64
Hours/Week          int64
Country            object
Above/Below 50k    object
dtype: object
Age                   int64
Workclass          category
fnlgwt                int64
Education          category
Education Num         int64
Marital Status       object
Occupation           object
Relationship       category
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k    category
dtype: object

How many groups are in the gb object and what is the maximum possible number of groups that could have been created?
- 208 groups are created out of 288 (2 * 9 * 16) possible groups.

In [6]:
gb = adult.groupby(by=["Workclass", "Above/Below 50k", "Education"])
gb.size()

Workclass     Above/Below 50k  Education
 ?             <=50K            10th             98
                                11th            118
                                12th             38
                                1st-4th          12
                                5th-6th          28
                                               ...
 State-gov     >50K             Some-college     31
 Without-pay   <=50K            7th-8th           1
                                Assoc-acdm        1
                                HS-grad           9
                                Some-college      3
Length: 208, dtype: int64

- Split the adult dataset across the "Sex" and "Above/Below 50k" columns, saving this object as gb.
- Print out the number of observations found in each group.
- Using gb, find the average of each numerical column.

In [7]:
# Group the adult dataset by "Sex" and "Above/Below 50k"
gb = adult.groupby(by = ["Sex" , "Above/Below 50k"])

# Print out how many rows are in each created group
print(gb.size())

# Print out the mean of each group for all columns
print(gb.mean())

Sex      Above/Below 50k
 Female   <=50K              9592
          >50K               1179
 Male     <=50K             15128
          >50K               6662
dtype: int64
                               Age         fnlgwt  Education Num  \
Sex     Above/Below 50k
 Female  <=50K           36.210801  185999.381359       9.820475
         >50K            42.125530  183687.406277      11.787108
 Male    <=50K           37.147012  193093.609268       9.452142
         >50K            44.625788  188769.101321      11.580606

                         Capital Gain  Capital Loss  Hours/Week
Sex     Above/Below 50k
 Female  <=50K             121.986134     47.364470   35.916701
         >50K             4200.389313    173.648855   40.426633
 Male    <=50K             165.723823     56.806782   40.693879
         >50K             3971.765836    198.780396   46.366106

- Create a list of the names for two user-selected variables: "Education" and "Above/Below 50k".
- Create a GroupBy object, gb, using the user_list as the grouping variables.
- Calculate the mean of "Hours/Week" across each group using the most efficient approach covered in the video.

In [8]:
# Create a list of user-selected variables
user_list = ["Education" , "Above/Below 50k"]

# Create a GroupBy object using this list
gb = adult.groupby(by = user_list)

# Find the mean for the variable "Hours/Week" for each group - Be efficient!
print(gb["Hours/Week"].mean())

Education      Above/Below 50k
 10th           <=50K             36.574053
                >50K              43.774194
 11th           <=50K             33.322870
                >50K              45.133333
 12th           <=50K             35.035000
                >50K              44.818182
 1st-4th        <=50K             37.864198
                >50K              48.833333
 5th-6th        <=50K             38.539432
                >50K              46.000000
 7th-8th        <=50K             38.830033
                >50K              47.500000
 9th            <=50K             37.667351
                >50K              44.851852
 Assoc-acdm     <=50K             39.264339
                >50K              44.256604
 Assoc-voc      <=50K             40.817826
                >50K              43.853186
 Bachelors      <=50K             40.586152
                >50K              45.475462
 Doctorate      <=50K             45.429907
                >50K              47.513072
 HS-grad        <=50K             39.727510
                >50K              45.042985
 Masters        <=50K             41.223822
                >50K              45.917623
 Preschool      <=50K             36.647059
 Prof-school    <=50K             42.816993
                >50K              49.092199
 Some-college   <=50K             37.450203
                >50K              44.820476
Name: Hours/Week, dtype: float64