 If each of the columns below is converted to a categorical Series, which column will save the most memory? The used_cars dataset has been loaded for you.

In [3]:
import pandas as pd

used_cars = pd.read_csv("cars.csv")

cols = ["price_usd", "drivetrain", "model_name"]

for col in cols:
    print(f"Working with {col} Column:")
    print("Before categorical conversion:")
    unconverted = used_cars[col]
    print(unconverted.dtype)
    print(unconverted.nbytes)
    converted = used_cars[col].astype("category")
    print("After categorical conversion:")
    print(converted.dtype)
    print(converted.nbytes)
    efficiency = unconverted.nbytes/converted.nbytes
    print(f"Efficiency = {efficiency}")
    print("..........................")

Working with price_usd Column:
Before categorical conversion:
float64
308248
After categorical conversion:
category
98478
Efficiency = 3.1301204329901093
..........................
Working with drivetrain Column:
Before categorical conversion:
object
308248
After categorical conversion:
category
38555
Efficiency = 7.9950201011541955
..........................
Working with model_name Column:
Before categorical conversion:
object
308248
After categorical conversion:
category
86006
Efficiency = 3.584029021231077
..........................

- Print the frequency table of the "body_type" column for used_cars and include NaN values.
- Update the .loc statement so that all NaN values in "body_type" are set to "other".
- Convert the "body_type" column to title case.
- Check the dtype of the "body_type" column.

In [4]:
# Print the frequency table of body_type and include NaN values
print(used_cars["body_type"].value_counts(dropna=False))

# Update NaN values
used_cars.loc[used_cars["body_type"].isna(), "body_type"] = "other"

# Convert body_type to title case
used_cars["body_type"] = used_cars["body_type"].str.title()

# Check the dtype
print(used_cars["body_type"].dtype)

sedan        13011
hatchback     7644
universal     5507
suv           5164
minivan       3608
minibus       1369
van            808
coupe          652
liftback       552
pickup         129
cabriolet       75
limousine       12
Name: body_type, dtype: int64
object

- Print the frequency table of the "Sale Rating" column of the used_cars dataset.

In [7]:
# Print the frequency table of Sale Rating
print(used_cars.columns)
# print(used_cars["Sale Rating"].value_counts())

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'price_usd', 'is_exchangeable', 'location_region',
       'number_of_photos', 'up_counter', 'feature_0', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'duration_listed'],
      dtype='object')

Now on to the key question: what is the average "saleability" of the used cars? What happens if you try the following code:

`average_score = used_cars["Sale Rating"].mean()`
- A type error, because numpy doesn't understand the categorical dtype.

- Correct the second statement by converting the column to type int before calling .mean().

In [9]:
# # Print the frequency table of Sale Rating
# print(used_cars["Sale Rating"].value_counts())

# # Find the average score
# average_score = used_cars["Sale Rating"].astype("int").mean()

# # Print the average
# print(average_score)

- Convert the color column to a categorical Series.
- Create a new column, "color_code", by creating a label encoding for the variable "color".
- Before you forget which codes belong to which categories, create a color map using the codes and categories objects.
- Print the new color map to see which codes map to which categories.

In [10]:
# Convert to categorical and print the frequency table
used_cars["color"] = used_cars["color"].astype("category")
print(used_cars["color"].value_counts())

# Create a label encoding
used_cars["color_code"] = used_cars["color"].cat.codes

# Create codes and categories objects
codes = used_cars["color"].cat.codes
categories = used_cars["color"]
color_map = dict(zip(codes, categories))

# Print the map
print(color_map)

black     7705
silver    6852
blue      5802
white     4212
grey      3751
red       2925
green     2760
other     2688
brown      886
violet     463
yellow     303
orange     184
Name: color, dtype: int64
{8: 'silver', 1: 'blue', 7: 'red', 0: 'black', 4: 'grey', 6: 'other', 2: 'brown', 10: 'white', 3: 'green', 9: 'violet', 5: 'orange', 11: 'yellow'}

- Update the "color" column back to its original values using the color_map dictionary.
- Update the "engine_fuel" column back to its original values using the fuel_map dictionary.
- Update the "transmission" column back to its original values using the transmission_map dictionary.
- Use .info() on the dataset to see if the dtypes have changed.

In [12]:
# # Update the color column using the color_map
# used_cars_updated["color"] = used_cars_updated["color"].map(color_map)
# # Update the engine fuel column using the fuel_map
# used_cars_updated["engine_fuel"] = used_cars_updated["engine_fuel"].map(fuel_map)
# # Update the transmission column using the transmission_map
# used_cars_updated["transmission"] = used_cars_updated["transmission"].map(transmission_map)

# # Print the info statement
# print(used_cars_updated.info())

- Print the frequency table of the "manufacturer_name" column
- Create a column, "is_volkswagen", that is True when "manufacturer_name" contains "Volkswagen" and False otherwise.

In [14]:
import numpy as np
# Print the manufacturer name frequency table
print(used_cars["manufacturer_name"].value_counts())

# Create a Boolean column based on if the manufacturer name that contain Volkswagen
used_cars["is_volkswagen"] = np.where(
  used_cars["manufacturer_name"].str.contains("Volkswagen", regex=False), True, False)

Volkswagen       4243
Opel             2759
BMW              2610
Ford             2566
Renault          2493
Audi             2468
Mercedes-Benz    2237
Peugeot          1909
Citroen          1562
Nissan           1361
Mazda            1328
Toyota           1246
Hyundai          1116
Skoda            1089
Kia               912
Mitsubishi        887
Fiat              824
Honda             797
Volvo             721
ВАЗ               481
Chevrolet         436
Chrysler          410
Seat              303
Dodge             297
Subaru            291
Rover             235
Suzuki            234
Daewoo            221
Lexus             213
Alfa Romeo        207
ГАЗ               200
Land Rover        184
Infiniti          162
LADA              146
Iveco             139
Saab              108
Jeep              107
Lancia             92
SsangYong          79
УАЗ                74
Geely              71
Mini               68
Acura              66
Porsche            61
Dacia              59
Chery              58
Москвич            55
Jaguar             53
Buick              47
Lifan              47
Cadillac           43
Pontiac            42
ЗАЗ                42
Lincoln            36
Great Wall         36
Name: manufacturer_name, dtype: int64

- Update the code so that a 1 is used instead of True and a 0 is used instead of False so Python can use this column in algorithms.
- Print out a frequency table for the newly created column.

In [15]:
# Print the "manufacturer_name" frequency table.
print(used_cars["manufacturer_name"].value_counts())

# Create a Boolean column for the most common manufacturer name
used_cars["is_volkswagen"] = np.where(
  used_cars["manufacturer_name"].str.contains("Volkswagen", regex=False), 1, 0
)
  
# Check the final frequency table
print(used_cars["is_volkswagen"].value_counts())

Volkswagen       4243
Opel             2759
BMW              2610
Ford             2566
Renault          2493
Audi             2468
Mercedes-Benz    2237
Peugeot          1909
Citroen          1562
Nissan           1361
Mazda            1328
Toyota           1246
Hyundai          1116
Skoda            1089
Kia               912
Mitsubishi        887
Fiat              824
Honda             797
Volvo             721
ВАЗ               481
Chevrolet         436
Chrysler          410
Seat              303
Dodge             297
Subaru            291
Rover             235
Suzuki            234
Daewoo            221
Lexus             213
Alfa Romeo        207
ГАЗ               200
Land Rover        184
Infiniti          162
LADA              146
Iveco             139
Saab              108
Jeep              107
Lancia             92
SsangYong          79
УАЗ                74
Geely              71
Mini               68
Acura              66
Porsche            61
Dacia              59
Chery              58
Москвич            55
Jaguar             53
Buick              47
Lifan              47
Cadillac           43
Pontiac            42
ЗАЗ                42
Lincoln            36
Great Wall         36
Name: manufacturer_name, dtype: int64
0    34288
1     4243
Name: is_volkswagen, dtype: int64

- Create a new dataset, used_cars_simple, with one-hot encoding for these columns: "manufacturer_name" and "transmission" (in this order).
- Set the prefix of all new columns to "dummy", so that you can easily filter to newly created columns.

In [16]:
# Create one-hot encoding for just two columns
used_cars_simple = pd.get_dummies(
  used_cars,
  # Specify the columns from the instructions
  columns = ["manufacturer_name" , "transmission"],
  # Set the prefix
  prefix="dummy"
)

# Print the shape of the new dataset
print(used_cars_simple.shape)

(38531, 87)